@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

.check-btn{
  border: 2px solid #E3E4F1;
  border-radius: 50%;
}
.check-btn:hover{
  background: linear-gradient(hsl(0 0% 98%), hsl(0 0% 98%)) padding-box,
  linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-color: transparent;
}
/* ---- Dark Mode ---- */
.dark .check-btn{
  border-color: hsl(237 14% 26%);
}
.dark .check-btn:hover{
  background: linear-gradient(hsl(235 24% 19%), hsl(235 24% 19%)) padding-box,
  linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-color: transparent;
}

.check-btn.check-btn--checked,
.check-btn.check-btn--checked:hover{
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) padding-box,
  linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-color: transparent;
}

.hover-reveal:hover .button-hidden {
  display: block; /* Show the button on hover */
}